
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


    <p>
        <strong>Error:</strong> <code>You have to Login</code>
    </p>


<h3>Guest Mode</h3>
<p>

    Authority <strong>Issue</strong> You are not authorized to access this page.
</p>
<p>
    <strong>You must be logged in to use and access the application.</strong>
    You can press the remember me button so that the application can remember you.
    The application section has been specially designed  <strong>for each person.</strong> 
</p>
